html, body {
  margin: 10pt;
  border: 10pt;
  font-size: 100%;
  font-family: 'Courier New', Courier, monospace;
  background-image: url("https://media0.giphy.com/media/8cv6gwoBAEIQjXagWt/200w.webp?cid=ecf05e47z2gengh3rcw1tb518mho4ytx8qqjvwzwyxbq15ih&rid=200w.webp");
  color: #ffffff;
}

h1 {
  color: green;
}

h2{
  color:aqua
}

